@charset "UTF-8";

@font-face {
    font-family: 'Heavitas';
    src: url('../fontes/') format('truetype');
}

@font-face {
    font-family: 'Letters';
    src: url('Letters for Learners Dots.ttf')format('truetype');
}
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 248, 239);
}

main p {
    font-family: 'Heavitas', sans-serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;
    padding: 20px;
    
}

.p1 {
    background-color: rgba(0, 0, 0, 0.473);
    width: 47%;
}

.p2 {
    background-color: rgba(0, 0, 0, 0.473);
    width: 47%;
}

header {
    background-color: rgb(230, 132, 62);
    padding: 40px;
    margin: -10px -10px 0px -10px;
    color: white;
    text-align: center;
  
}

header > h1 {
    padding-bottom: 20px;
}

#art01 {
    background-color: white;
    padding: 20px;
    margin: 0px -10px;
  
}

#art02 {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    background-image: url('../imagens/pexels-uğurcan-özmen-8090819.jpg');
    padding: 20px;
    color: white;
}

#art03 {
background-color: white;
padding: 20px;
}

#art04 {
padding: 20px;
background-repeat:no-repeat;
background-image: url('../imagens/pexels-mart-production-7333505.jpg');
background-size: cover;
background-position: center center;
background-attachment: fixed;
color: white;
}

#art05 {
background-color: white;
padding: 20px;
}

footer {
    background-color: chocolate;
    padding: 10px;
    text-align:center;
   
}